[submodule "extern/lrslib"]
	path = extern/lrslib
	url = https://github.com/baskuit/lrslib
	branch = contiguous
[submodule "extern/engine"]
	path = extern/engine
	url = https://github.com/pkmn/engine
[submodule "extern/pokemon-showdown"]
	path = extern/pokemon-showdown
	url = https://github.com/baskuit/pokemon-showdown
